# Root ignores
.vscode/
.DS_Store

# Backend ignores
backend/target/
backend/.mvn/
backend/.backend.env

backend/src/main/resources/application.properties

# Frontend ignores
frontend/dist/
frontend/node_modules/
frontend/.angular/
